body {
  background:
    linear-gradient(135deg, #708090 22px, #EEEFF7 22px, #EEEFF7 24px, transparent 24px, transparent 67px, #EEEFF7 67px, #EEEFF7 69px, transparent 69px),
    linear-gradient(225deg, #708090 22px, #EEEFF7 22px, #EEEFF7 24px, transparent 24px, transparent 67px, #EEEFF7 67px, #EEEFF7 69px, transparent 69px)0 64px;
  background-color:#708090;
  background-size: 64px 128px;
}

h5 {
  text-align: center;
}

.coin {
  background-image: url("http://www.clker.com/cliparts/c/4/6/5/1369917350694835763dollar_coin.png");
  background-size: 100%;
  background-repeat: no-repeat;
  /*transition: opacity .25s ease-in-out;*/
  /*-webkit-transition: opacity .25s ease-in-out;*/
}

.treasure {
  background-image: url("http://icongal.com/gallery/image/11751/gold.png");
  background-size: 100%;
  background-repeat: no-repeat;

}

.player1 {
  background-image: url("http://4.bp.blogspot.com/-bqWhbBJNaF8/USO5cqcgUyI/AAAAAAAAAic/xZoJnHIDt_c/s1600/animaldrawing01_sheridan_portfolio_camillo_clauser.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  /*background: red;*/
  }

.player1:hover {
  background-color: green;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}


.player2 {
  background-image: url("file:///Users/Missy/Desktop/Screen%20Shot%202015-12-02%20at%206.16.40%20PM.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: #EEEFF7;
  margin: 3px;
}

#header {
  width: 500px;
  height: 60px;
  background-color: #445878;
  text-align: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #EEEFF7;
}

#scoreBoard {
  position: absolute;
  background-color: #31353D;
  height: 200px;
  width: 300px;
  color: #EEEFF7;
  text-align: center;
  margin-left: 70%;

}

#player1, #player2 {
  text-align: center;
  border-top: 2px solid #EEEFF7;
  border-left: 2px solid #EEEFF7;
  border-right: 2px solid #EEEFF7;
  border-bottom: 2px solid #EEEFF7;
}

#highScores {
  background-color: #445878;
  border-top: 3px solid #445878;
  width: 200px;
  color: #EEEFF7;
  text-align: left;
  margin-left: 10%;
}

#player {
  width: 50px;
  height: 50px;
  text-align: left;
  padding-left: 5px;
  border-top: 4px solid #EEEFF7;
  border-bottom: 4px solid #EEEFF7;
  border-left: 4px solid #EEEFF7;
  border-right: 4px solid #EEEFF7;
}

#highScore {
  text-align: left;
  border-top: 4px solid #EEEFF7;
  border-bottom: 4px solid #EEEFF7;
  border-right: 4px solid #EEEFF7;
}

#player {
  width: 50px;
  height:40px;
}

#playerHighScore {
  width: 50px;
  height: 40px;
}

#headerHighScores {
  border: 3px solid #445878;;
  color: #EEEFF7;
  width: 100px;
  height: 50px;
}

th {
  border-top: 5px solid #31353D;
  text-align: center;
}

#square {
  border-top: 2px solid #EEEFF7;
  width: 35px;
  height: 25px;
  background-color: #445878;
  text-align: center;
}

#table {
  background-color: #92CDCF;
  border: 3px solid #EEEFF7;
  position: absolute;
  border: 5px solid #445878;
  margin-left: 30%;
}

td {
  margin: 20px;
  height: 50px;
  width: 50px;
}

#overlay {
  position: absolute;
  z-index:2;
  border: 5px solid #445878;
  margin-left: 30%;
}

.well {
  background-color: #445878;
  border-top: 3px solid #EEEFF7;
  border-bottom: 3px solid #EEEFF7;
}

#instructions {
  background-color: #445878;
  height: 30px;
  width: 100%;
  color: #EEEFF7;
  padding-bottom: 30px;
}

#scores {
  text-align: left;
  padding-left: 5px;
  width: 50px;
  height: 50px;
}

.current-true{
  background-image: url("http://snag.gy/LrKOz.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#mainContainer{
  margin-top:1vw;
}

 div.fields>input {
  outline: none;
  width: 100%;
  border: 2px solid #92CDCF;
  margin: 5px;
}

h2 {
  color: #445878;
  background-color: #EEEFF7;
  border: 3px solid #92CDCF;
}

.btn {
    background-color: #445878;
    border: 3px solid #92CDCF;
    color: #EEEFF7;
    margin: 10px;
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    }

#register {
    margin-left: auto;
    margin-right: auto;
}

input {
  width: 80px;
  height: 40px;
}

