<div class="home1" class="col-sm-6">
  <button id="playAsGuest" type="button" class="btn btn-md btn-primary btn-block" ng-click="startGame()">Play as Guest</button>
</div>
<div class="home2" class="col-sm-6">
  <button id="register-login" type="button" class="btn btn-md btn-primary btn-block"><i class="fa fa-times"></i> Login</button>
</div>
<div  class="home3" class="col-sm-6" >
  <button type="submit" class="btn btn-md btn-success btn-block confirm"><i class="fa fa-check"></i> Register</button>
</div>

